{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7기 블로그</title>
    <link rel = "stylesheet" type = "text/css" href = "{%static 'blogapp/base.css'%}" >
    {%block css%}
    {%endblock%}
</head>
<body>
    <div class="main">
        <div class="main-txt">
            <h1>7기 과제: 블로그</h1>
        </div>
        <nav class="menu">
        <ul>
            <li><a href="{% url 'home' %}">첫 화면</a></li>
            <li><a href="{% url 'about' %}">설명</a></li>
            <li><a href="{% url 'new' %}">쓰기</a></li>
        </ul>
    </nav>
    </div>
    {% comment %} <img src="{%static 'blogapp/sea.jpeg' %}" alt="sea" id="header"> {% endcomment %}
    {% comment %} <script type = "text/javascript" src="blogapp/draw_nav.js"></script> {% endcomment %}
    
    {% block contents %}
    {% endblock %}

</body>
</html>